@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';

body{

    font-family :arial;
    background-color: rgb(251, 251, 251);
}

h1.s3{
    color :rgb(255, 255,255);
}

.s1{
    font-family: 'Kanit',san-serif;
}

.l1{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
 }

 hr.new4{
    border: 6px solid rgb(44, 83, 190);

}
 .t1{
   border: 1px solid rgb(255, 255, 255);
   border-collapse: collapse;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
  }

.s5{
    font-family: "Open Sans"
}
.s6{
    font-family: "Oswald"
}


/* Background */

body, html {
    height: 100%
}
.bgimg {
    background-image: url(../images/food2.jpg);
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



 



